<h1 class="bi bi-pencil-square" ><%= @routine.title %></h1>

<%= render "form", routine: @routine %>

<br>

<div>
  <%= link_to "Cancel", @routine, :class => 'btn btn-outline-primary btn-sm'  %>
  <%= link_to "My Routines", routines_path, :class => 'btn btn-primary btn-sm'  %>
</div>
