<p style="color: green"><%= notice %></p>

<h3>
  <%= link_to "Create New Routine", new_routine_path %>
</h3>

<h1>My Routines</h1>

<div id="routines">
  <% @routines.each do |routine| %>
    <%= render routine %>
    <p>
      <%= link_to "Show this routine", routine %>
    </p>

    <br>

  <% end %>
</div>

