<!--<p style="color: green"><%= notice %></p> -->

<h3><b>My Routines</b></h3>

<table class="table" id="routines">
<thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Recurrence</th>
    <th>Days of Week</th>
    <th>Start Time</th>
    <th>Start Day</th>
  </tr>
</thead>
<tbody>
  <% @routines.each do |routine| %>
    <%= render routine %>
  <% end %>
</tbody>
</table>
<%= link_to "New Routine", new_routine_path, :class => 'btn btn-primary' %>
