<h3><b>My Calendar</b></h3>

<%
  # map each day to an array of routines occurring on that day
  routine_by_day = {}

  Routine.all.order(:start_time).each do |routine|
    Routine.get_days_of_week.each do |day|
      if Routine.get_days_of_week_str(routine).include? day
        unless routine_by_day.has_key? day
          routine_by_day[day] = []
        end
        routine_by_day[day].append routine
      end
    end
  end
%>

<%= week_calendar do |date| %>
  <%if routine_by_day.has_key?(date.strftime("%a").to_s) %>
    <%routine_by_day[date.strftime("%a")].each do |r| %>
      <%= r.start_time.strftime("%I:%M%P") %> - <%= (r.start_time + Routine.total_duration(r).minutes).strftime("%I:%M%P") %>
      <%= r.title %> <br>
      <br><br>
    <%end%>
  <%else%>
    <li> None </li>
  <%end%>


<% end %>
