<h1 class="bi bi-pencil-square" ><%= @task.title %></h1>

<%= render "form", task: @task %>

<br>

<div>
  <%= link_to "Cancel", [@routine, @task], :class => 'btn btn-primary btn-sm'  %>
  <%= link_to "Back to routine", routine_tasks_path(@routine), :class => 'btn btn-outline-primary btn-sm'  %>
</div>
