  <h2>My Profile</h2>

  <% if user_signed_in? %>
    <%= render @user %>
  <% end %>

<%= link_to 'Logout', destroy_user_session_path, 'data-turbo-method': :delete, class: "btn btn-sm btn-outline-primary"  %>
<%= button_to "Delete Account", registration_path(@user), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-sm btn-outline-danger" %>
