 <div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container">
      <h1>MyRhythm</h1>
      <h3>Sync to the Beat of Your life</h3>
      <br>
      <p>
        <%= button_to 'Discover New Routines', "/discover", :method => :get,  :class => "btn btn-primary btn-lg"%>
      </p>
    </div>
  </div>

  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 bg-body-tertiary border rounded-3">
        <h2>Find your own rhythm.</h2>
        <p>Maximize your time and minimize distractions</p>
      </div>
    </div>

    <div class="col-md-6">
      <div class="h-100 p-5 bg-body-tertiary border rounded-3">
        <h2>Save time, decrease stress, find your flow.</h2>
        <p>Create smart routines that help you </p>
      </div>
    </div>
  </div>
