<div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container">
        <h1>Want to Learn About Sharks?</h1>
        <p>Are you ready to learn about sharks?</p>
        <br>
        <p>
            <%= button_to 'Get Shark Info', routines_path, :method => :get,  :class => "btn btn-primary btn-lg"%>
        </p>
    </div>
</div>
<div class="row align-items-md-stretch">
    <div class="col-md-6">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
            <h2>Want to Learn About Sharks?</h2>
            <p>Are you ready to learn about sharks?</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
            <h2>Want to Learn About Sharks?</h2>
            <p>Are you ready to learn about sharks?</p>
        </div>
    </div>
</div>