<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>

<% routines = CalendarsController.get_routines_by_day(@day) %>
<% routine_timeline = [] %>

<% routines.each do |r| %>

  <% routine_timeline.append([r.title, Time.local(2023,1,1,
                                                        r.start_time.strftime("%H"),
                                                        r.start_time.strftime("%M")),
                                                        Time.local(2023,1,
                                                        Routine.end_time(r).strftime("%d"),
                                                        Routine.end_time(r).strftime("%H"),
                                                        Routine.end_time(r).strftime("%M"))]) %>
<% end %>

<div class="container">

  <% Routine.get_days_of_week.each do |d|  %>
    <%= link_to d, day_calendar_path(:day => d), :class => 'btn btn-primary btn-sm' %>
  <% end %>

  <br> <br>

  <h3> <b> My <%= CalendarsController.get_full_day_str(@day) %> </b> </h3>

  <br>

  <%= timeline routine_timeline  %>

</div>

