<h3><b>My Calendar</b></h3>

<% routine_by_day = CalendarsController.get_routines_by_day %>

<%= week_calendar do |date| %>
  <%if routine_by_day.has_key?(date.strftime("%a").to_s) %>
    <%routine_by_day[date.strftime("%a")].each do |r| %>
      <%= r.start_time.strftime("%I:%M%P") %> - <%= Routine.end_time(r).strftime("%I:%M%P") %> <br>
      <%= r.title %> <br>
      <br>
    <%end%>
  <%else%>
    <li> None </li>
  <%end%>

<% end %>
