<div class="simple-calendar">

<div class="container-fluid">
  <div class="row row-cols-7" style="--bs-gutter-x:1rem;">
    <% date_range.slice(0, 7).each do |day| %>
      <div class="col"><h3><%= t('date.abbr_day_names')[day.wday] %></h3></div>
    <% end %>
  </div>
  <div class="row row-cols-7" style="--bs-gutter-x:1rem;">
    <% date_range.each_slice(7) do |week| %>
        <% week.each do |day| %>
          <div class="col">
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
                <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
              <% else %>
                <% passed_block.call day, sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>
          </div>
        <% end %>
    <% end %>
  </div>
</div>
